<header>
  <h1>Website Title</h1>
  <div class="nav-menu">
    <ul>
      <li  routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a>Home</a>
      </li>
      
        <li routerLink="home/saja/home-page/l1"  [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">
          <a >Home</a>
        </li>
        <li  [routerLink]="['home',name,Title,id]" [queryParams]="queryObject" routerLinkActive="active">
          <a>Home2</a>
        </li>
        <li routerLink="about-us" routerLinkActive="active">
        <a >About Us</a>
      </li>
      <li routerLink="contact-us" routerLinkActive="active">
        <a >Contact us</a>
      </li>
      <li  routerLink="programs" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a>Programs</a>
       
      </li>
        <li routerLink="programs/accounting" routerLinkActive="active"><a>accounting</a></li>
        <li routerLink="programs/computer" routerLinkActive="active"> <a>computer</a></li>
        <li routerLink="programs/health" routerLinkActive="active"><a>health</a></li>
    </ul>
  </div>
</header>
<router-outlet></router-outlet>
<footer>
  <h4>copyright for app routing</h4>
</footer>